.chat {
    animation: fade 1s ease;
    font-family: 'IBM';
    font-size: 1rem;
}
.chat__container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 30vw;
    margin-top: 1rem;
    gap: 30px;
    width: 98vw;
    margin: 0 auto;

}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}