.chat__input {

    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .chat__textinput {
        width: 100%;
        padding: 1rem
    }
    button {
        width: 10%;
        position: absolute;
        right: 1%;
    }
}
button:disabled {
    opacity: 0.5;
}