$inputBackground: #000000;
$inputFontColor: #fff;

h1 {
    color: $inputFontColor
}
.authForm {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    width: 20vw;
    color: #A80000;

}
.authForm__error {

    animation: fade 0.5s ease;
}
input {
    padding: 10px;
    outline: 0;
    background-color: $inputBackground;
    color: $inputFontColor;
    border-radius: 5px;
    width: 100%;
    ::placeholder {
        color: $inputFontColor
    }
  
}
button {
    background-color: #00A800;
    border: none;
    padding: 10px;
    color: $inputFontColor;
    box-shadow: $inputBackground 5px 5px;
    cursor: pointer;
   
}
button:active {
    transform: translateY(5px)
}
.authForm__errors {
    display: flex;
    flex-direction: column;
}

@keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}