@import "normalize.css";

@font-face {
  font-family: "IBM";
  src: url("./assets/fonts/Web437_IBM_BIOS-2x.woff2") format(woff2),
  url("./assets/fonts/Web437_IBM_BIOS-2x.woff") format(woff),
  url("./assets/fonts/Mx437_IBM_BIOS-2x.ttf") format(truetype);

  font-display: swap;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0000A8;
  font-family: 'IBM', sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white
}

* {
  box-sizing: border-box;
}